.skillSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 90dvh;
  min-height: 500px;
}

.skillList {
  display: flex;
  justify-content: space-evenly;
}
