.skillSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 50px;
}

.skillList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  :is(svg) {
    height: 40px;
    width: 40px;
  }

  .javascriptIcon {
    color: #f7df1e;
    background-color: #121212;
  }

  .pythonIcon {
    color: #4b8bbe;
  }

  .sqlIcon {
    color: #00758f;
  }

  .htmlIcon {
    color: #e34c26;
  }

  .cssIcon {
    color: #264de4;
  }

  .reactIcon {
    color: #61dbfb;
  }

  .nodeIcon {
    color: #215732;
  }

  .reduxIcon {
    color: #764abc;
  }

  .tailwindIcon {
    color: #00d3f2;
  }

  .gitIcon {
    color: #f1502f;
  }

  .sqlalchemyIcon {
    color: #d71f00;
  }
}
