.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  margin-top: 75px;
  margin-bottom: 50px;

  .heroImgContainer {
    display: flex;
    justify-content: center;
  }

  .heroImg {
    max-width: 200px;
    animation: slide-in 2s ease;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.heroInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  :is(span) {
    display: flex;
    gap: 25px;
    justify-content: center;

    .githubLink {
      color: var(--btn-background-color);
    }

    .linkedinLink {
      color: #0a66c2;
    }

    :is(svg) {
      height: 30px;
      width: 30px;
    }
  }
}

.description {
  align-self: center;
  max-width: 30ch;
}

@media (width >= 800px) {
  .heroSection {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }

  .heroImg {
    max-width: 350px;
    width: 350px;
  }
}

@media (width >= 1400px) {
  .heroSection {
    .heroImg {
      max-width: 400px;
      width: 400px;
    }
  }
}
