.projectSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  margin-top: 75px;
  margin-bottom: 50px;
}

.poultryCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  :is(a) {
    transition: transform 200ms ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: translateY(2px);
    }
  }

  :is(img) {
    height: 20dvh;
    opacity: 0;
    animation: slide-left 2s ease forwards;
  }

  :is(h2) {
    margin: 20px 0 0 0;
    opacity: 0;
    animation: slide-right 2s ease forwards;
  }

  :is(p) {
    width: 200px;
    opacity: 0;
    animation: slide-left 2s ease forwards;
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(50px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
