:root {
  --background-color: rgb(255, 255, 255);
  --btn-background-color: rgb(0, 0, 0);
  --btn-text-color: rgb(255, 255, 255);
  --text-color: rgb(0, 0, 0);
}

[data-theme="dark"] {
  --background-color: rgb(0, 0, 0);
  --btn-background-color: rgb(255, 255, 255);
  --btn-text-color: rgb(0, 0, 0);
  --text-color: rgb(255, 255, 255);

  .lightMoon {
    color: white;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  color: var(--btn-text-color);
  background-color: var(--btn-background-color);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: fit-content;
  padding: 3px 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition:
    box-shadow 200ms ease-in-out,
    transform 200ms ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  }
}
