.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0 10px;
}

.LoginNavBar {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px 10px 0 10px;
}

.navLinkContainer {
  display: flex;
  gap: 20px;

  .navLink {
    color: black;
    text-decoration: none;
    transition: transform 200ms ease-in-out;

    &:hover {
      color: white;
      transform: scale(1.2);
    }

    &:active {
      transform: translateY(2px);
    }
  }
}

.envelopeIcon {
  width: 20px;
  height: 20px;
}

.profile-dropdown {
  position: absolute;
  right: 1rem;
  text-align: end;
}

.hidden {
  display: none;
}

.logo-img {
  height: 5dvh;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 5px;
}
