.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0 10px;
}

.LoginNavBar {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px 10px 0 10px;
}

.navBtnContainer {
  display: flex;
  gap: 10px;
}

.profile-dropdown {
  position: absolute;
  right: 1rem;
  text-align: end;
}

.hidden {
  display: none;
}

.logo-img {
  height: 5dvh;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 5px;
}
