.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    color: rgb(0, 128, 0);
  }

  button:hover {
    color: rgb(255, 0, 0);
  }
}

.navBtn {
  display: flex;
  gap: 20px;
}

.profile-dropdown {
  position: absolute;
  right: 0.5rem;
  text-align: end;
}

.hidden {
  display: none;
}

.logo-img {
  height: 5dvh;
  cursor: pointer;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 5px;
}
