.loginSection {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.loginFormContainer {
  display: flex;
  flex-direction: column;

  :is(form) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

    :is(label) {
      display: flex;
      flex-direction: column;
      gap: 5px;

      :is(input) {
        display: flex;
        gap: 20px;
        border: none;
        border-radius: 5px;
        padding: 5px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

        &:focus {
          outline: none;
        }
      }
    }
  }
}

button[type="submit"] {
  background-color: var(--btn-background-color);
}
